<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="./style.css"></style>
  </head>
  <body> 
    <div class="todo-wrapper" ng-app="app" ng-controller="TodoController">
      <ul ><li ng-repeat="todo in todos">{{todo.text}}</li></ul>
      <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
    </div>
    <!-- <script src="../angular.js"></script> -->
    <script src="../../dist/angular-tiny.js"></script>
    <script src="app.js"></script>
  </body>
</html>
